[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
celery = "==5.5.0"
crawler = {editable = true, path = "."}
pandas = "*"
requests = "*"
apscheduler = "==3.10.4"
loguru = "==0.6.0"

[dev-packages]

[requires]
python_version = "3.8"
