[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.3.3"
celery = "==5.5.0"
crawler-sam = {file = ".", editable = true}

[dev-packages]

[requires]
python_version = "3.8"
python_full_version = "3.8.10"
